/vendor
/node_modules
.env
.env.*
!.env.example
/storage/*.log
storage/logs/*.log
.DS_Store
Thumbs.db
.idea/
.vscode/
*.sqlite
*.sql
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/storage
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
